# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [11]:
minute = 53

if minute % 2 == 0:
    print("This is hour")
else:
    print("This is odd minute")

This is odd minute

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [12]:
#CODE HERE
day_of_the_week=input('Enter the day of the week: ').strip()
day_of_the_week=day_of_the_week.capitalize()
if day_of_the_week == 'Saturday':
  print('Today is : {} \nParty!!!!!!'.format(day_of_the_week), )
elif day_of_the_week=='Sunday':
  print('Today is: {} \nTake rest'.format(day_of_the_week))
else:
  print('Today is: {}\nWork Work Work!!!!'.format(day_of_the_week))

Enter the day of the week: saturday
Today is : Saturday
Party!!!!!!



> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [15]:
#CODE HERE
for i in range(2000,3201):
  if i%7==0 and 1%5!=0:
    print(i, end=' ')

2002 2009 2016 2023 2030 2037 2044 2051 2058 2065 2072 2079 2086 2093 2100 2107 2114 2121 2128 2135 2142 2149 2156 2163 2170 2177 2184 2191 2198 2205 2212 2219 2226 2233 2240 2247 2254 2261 2268 2275 2282 2289 2296 2303 2310 2317 2324 2331 2338 2345 2352 2359 2366 2373 2380 2387 2394 2401 2408 2415 2422 2429 2436 2443 2450 2457 2464 2471 2478 2485 2492 2499 2506 2513 2520 2527 2534 2541 2548 2555 2562 2569 2576 2583 2590 2597 2604 2611 2618 2625 2632 2639 2646 2653 2660 2667 2674 2681 2688 2695 2702 2709 2716 2723 2730 2737 2744 2751 2758 2765 2772 2779 2786 2793 2800 2807 2814 2821 2828 2835 2842 2849 2856 2863 2870 2877 2884 2891 2898 2905 2912 2919 2926 2933 2940 2947 2954 2961 2968 2975 2982 2989 2996 3003 3010 3017 3024 3031 3038 3045 3052 3059 3066 3073 3080 3087 3094 3101 3108 3115 3122 3129 3136 3143 3150 3157 3164 3171 3178 3185 3192 3199

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [23]:
#CODE HERE
number = int(input('Enter the value to compute the factorial: '))

factorial= 1

for i in range(1, number + 1):
    factorial*= i

print('The factorial output is: ', factorial)

Enter the value to compute the factorial: 3
The factorial output is:  6

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [25]:
#CODE HERE
n = int(input('Enter an integer number: '))
dict = {}
for i in range(1, n + 1):
  dict[i] = i * i

print(dict)

Enter an integer number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [28]:
#CODE HERE
value1 = int(input('Enter the first value: '))
value2 = int(input('Enter the second value: '))
operator = input('Enter the keyword from the follwing (add, sub, mul, div, pow): ').strip()

if operator.lower() == 'add':
  result = value1 + value2
  print('{}+{} is {}'.format(value1,value2,result))
elif operator.lower() == 'sub':
  result = value1 - value2
  print('{}-{} is {}'.format(value1,value2,result))
elif operator.lower() == 'mul':
  result = value1 * value2
  print('{}*{} is {}'.format(value1,value2,result))
elif operator.lower() == 'div':
  result = value1 / value2
  print('{}/{} is {}'.format(value1,value2,result))
elif operator.lower() == 'pow':
  result = value1 ** value2
  print('{}**{} is {}'.format(value1,value2,result))
else:
  print('Invalid operation keyword')

Enter the first value: 3
Enter the second value: 4
Enter the keyword from the follwing (add, sub, mul, div, pow): sub
3-4 is -1

3### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [31]:
input_string = input('Enter a string: ')

digit_count = 0
alpha_count = 0

for i in input_string:
  if i.isdigit():
    digit_count += 1
  elif i.isalpha():
    alpha_count += 1

print('Digit: ', digit_count)
print('Letter: ', alpha_count)

Enter a string: innomatics1231239746
Digit:  10
Letter:  10

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [42]:
given_tuple= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

mid_point = len(given_tuple) // 2

first_half = given_tuple[:mid_point]
last_half = given_tuple[mid_point:]

print(first_half)
print(last_half)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [ ]:
# METHOD - 1

1 2 3 4 5
6 7 8 9 10

In [36]:
# METHOD - 2
print(first_half, last_half)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [39]:
# METHOD - 3
print(list(first_half))
print(list(last_half))

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [1]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_list = []

for i in tuple1:
  if i % 2 == 0:
    even_list.append(i)

even_tuple = tuple(even_list)

print(even_tuple)

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [2]:
text = input("Please type something. --> ").strip()

if text.lower() == 'yes':
    print('Yes')
else:
    print('No')

Please type something. --> yes
Yes

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [3]:
import random

random_numbers = [random.randint(100, 200) for _ in range(5)]

print(random_numbers)

[123, 175, 156, 119, 109]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [4]:
import random

random_float = random.uniform(5, 95)

print(random_float)

47.01820866097753

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [6]:
numbers = [1, 1, 1, 1, 3, 3, 4, 4, 4, 5, 6, 7, 8, 8, 8]

unique_values = []
for num in numbers:
  if num not in unique_values:
    unique_values.append(num)
print("Unique values:", unique_values)

Unique values: [1, 3, 4, 5, 6, 7, 8]

In [7]:
counts = {}
for num in numbers:
  if num in counts:
    counts[num] += 1
  else:
    counts[num] = 1
print("Counts:", counts)

Counts: {1: 4, 3: 2, 4: 3, 5: 1, 6: 1, 7: 1, 8: 3}

In [9]:
most_common_num = None
max_count = 0
for num, count in counts.items():
    if count > max_count:
        max_count = count
        most_common_num = num
print(f"The number {most_common_num} occurs the most with {max_count} occurrences.")

The number 1 occurs the most with 4 occurrences.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)