# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums = [1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1
nums = [1, 2, 3, 4]
nums.remove(3)
print(nums)

[1, 2, 4]

In [3]:
# Method 2
nums = [1, 2, 3, 4]
nums.pop(2)
print(nums)

[1, 2, 4]

In [4]:
# Method 3
nums = [1, 2, 3, 4]
del nums[2]
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [5]:
lst = [2,3,4]
lst.insert(0, 1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [6]:
lst.insert(2, "two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [7]:
# CODE HERE
phrase = "Don't panic!"

*convert into list*

In [8]:
phrase=list(phrase)
phrase

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [9]:
phrase.remove("'")

In [10]:
phrase

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [11]:
# CODE HERE
remove_list = ['p', 'a', 'n', 'D']

for alphabet in remove_list:
  phrase.remove(alphabet)

In [12]:
phrase.extend(remove_list)
print(phrase)

['o', 't', ' ', 'n', 'i', 'c', '!', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [33]:
my_list = ['p', 'a', 'n', 'D', 'a']

string1 = ''.join(my_list)

print(string1)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [14]:
# CODE HERE
nums = (31, 24, 35, 85)
print(nums)

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [15]:
# CODE HERE

nums = (31, 24, 35, 85)

nums_list = list(nums)

nums_list.remove(35)
nums_list

[31, 24, 85]

In [16]:
nums = tuple(nums_list)
nums

(31, 24, 85)

**Extent** tuple (85,19)

In [17]:
# CODE HERE
nums_list = list(nums)
s=(85,19)
nums_list.extend(s)
nums = tuple(nums_list)

print(nums)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [18]:
# CODE HERE
tpl = ('i','n''n','0')
if "i" in tpl:
  print("i exists in tuple" )
else:
 print('it does not ')

i exists in tuple

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [19]:
# CODE HERE
list = ['Hello',100,[],'innomatics']
list[2] = [200]
list

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [20]:
# CODE HERE
tpl = ("Innomatics")

tpl= tpl[::-1]

tuple(tpl)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [21]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [22]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [23]:
value= 100
tpl_2 = []
for t in tpl:
  tpl_2.append(t + (value,))
print(tpl_2)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [24]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [25]:
value = 100

tpl_2 = []

for t in tpl:
  var1= t[:-1] + (value,)
  tpl_2.append(var1)

print(tpl_2)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [26]:
# CODE HERE
value='5 2 3 6 6 5'

value=value.split()
value.sort(reverse=True)
value
second_highest = value[1]
print(second_highest)

6

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [27]:
list1 = [12, 24, 35, 70, 88, 120, 155]

list2 = list1[1:4] + list1[6:]
print(list2)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [28]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

middle= len(tuple1) // 2

print(tuple1[:middle],tuple1[middle:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [29]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_tuple = ()
for x in tuple1:
  if x % 2 == 0:
    even_tuple += (x,)

print(even_tuple)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

1.Lists are mutable while Tuples are immutable

2.Lists are created using square brackets [] while Tuples are created using parentheses ()

### 2. Explain the difference between append() and extend() with examples

The append() method adds a single element to the end of a list while extend() method can add either single or multiple elements to the end of a list

### 3. Explain the difference between pop() and remove() with examples

The pop() method is used to remove and return an element from a list while
The remove() method is used to remove the first occurrence of a specified element from a list.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)