Write a program to print the first 10 even numbers using while loop

In [2]:
count = 0
number = 2

while count < 10:
    print(number)
    number += 2
    count += 1

2
4
6
8
10
12
14
16
18
20

In [5]:
count = 0
number = 1

while count < 10:
    print(number)
    number += 2
    count += 1

1
3
5
7
9
11
13
15
17
19

Write a program to print the first 10 natural numbers using while loop

In [6]:
number = 1

while number <= 10:
    print(number)
    number += 1

1
2
3
4
5
6
7
8
9
10

Write a program to print the first 10 whole numbers using while loop

In [7]:
number = 0

while number < 10:
    print(number)
    number += 1

0
1
2
3
4
5
6
7
8
9

Calculate the product of numbers from 1 to 100 using a while loop.

In [12]:
number = 1
product = 1

while number <= 100:
    product *= number
    number += 1
    print(product)

For Loop:

write a program that prints the numbers from 1 to 10, each on a new line.

In [13]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

write a program that prints the even numbers from 1 to 20, each on a new line.

In [14]:
for number in range(1, 21):

    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

Write a program that calculates and prints the square of each number from 1 to 20.

In [15]:
for number in range(1, 21):
    square = number * number
    print(square)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [19]:
for number in range(1,11):
  product= 3 * number
  print(product)

3
6
9
12
15
18
21
24
27
30

Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [21]:
for number in range(10,0,-1):
  print(number)

10
9
8
7
6
5
4
3
2
1

Count the number of vowels in a string using a for loop.
s2= "Hello World"

In [25]:
s2= "Hello World"
number=0
vowels=('aeiou')

for word in s2:
  if word in vowels or word in vowels.upper():
   number+=1
print(number)

3

Display numbers from -10 to -1 using a for loop.

In [27]:
for number in range(-10,0,1):
  print(number)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Find all prime numbers between 1 and 50 using a for loop

In [29]:
for number in range(2,51):
  for s in range(2,number):
    if number%s==0:
      break
  else:
    print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Print all uppercase letters in the string using a for loop.
s=”Innomatics Research Labs”

In [32]:
s="Innomatics Research Labs"
for alphabet in s:
  if alphabet.isupper():
    print(alphabet)

I
R
L