In [1]:
s= " $python is fun, python is easy, but python is tough when you don't practice it revise it@ "

How many characters are present in the above string

In [3]:
len(s)

91

split the string using commas(,)

In [4]:
s.split(",")

[' $python is fun',
 ' python is easy',
 " but python is tough when you don't practice it revise it@ "]

count the frequency of "python"

In [5]:
print(s.count("python"))

3

replace "when " with "if and only if"

In [6]:
s1=s.replace("when","if and only if")
print(s1)

 $python is fun, python is easy, but python is tough if and only if you don't practice it revise it@

find the difference between the number of characters in the original string and number of characters when you replace "python " with "data science". replace only the last occurring python with data sciences

In [7]:
last_python_index =s.rfind("python")

print(last_python_index)
print(len('python'))

37
6

In [8]:
#concatenating strings before python, 'data science' and strings after python
s2= s[:37] + "data science" + s[37 +6:]
print(s2)

 $python is fun, python is easy, but data science is tough when you don't practice it revise it@

In [9]:
len(s2)

97

In [10]:
difference=len(s2)-len(s)

In [11]:
print(difference)

6

Access and print the first word of the string using indexing.

In [12]:
sentence = "I want to become a Data Scientist"
print(sentence[0])

I

Access and print the last word of the string using negative indexing.

In [13]:
print(sentence[-9:])

Scientist

What are possible ways yo extract Scientist(use forward and reverse)

In [14]:
print(sentence.find('Scientist'))

24

In [15]:
print(sentence[24:])

Scientist

In [16]:
print(sentence[-9:])

Scientist

Apply slicing to extract only the numeric characters at odd positions

In [17]:
a = "123123123"

In [18]:
# Extract numeric characters at odd positions
a[1::2]

'2132'

Create 3 variables to store street, city and country, now create address variable to store the entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line.

In [19]:
street="123 ikeja"
city="Lagos"
country= "Nigeria"

address=(street+" "+ city +"," +country)
print(address)

123 ikeja Lagos,Nigeria

In [20]:
#address using an f-string
address2 = f"{street},{city},{country}"
print(address2)

123 ikeja,Lagos,Nigeria

In [21]:
#address in different lines
address3 = f"{street}\n{city}\n{country}"
print(address3)

123 ikeja
Lagos
Nigeria

Consider the statement "Four furious friends fought for the phone". Print "curious" in place of “furious” using f-string. Example output: “Four curious friends fought for the phone”

In [22]:
statement="Four furious friends fought for the phone"
statement=statement.replace("furious","curious")
print(f"{statement}")

Four curious friends fought for the phone

Write a program to check if "nana" is present in “banana” and print the result

In [23]:
fruit="banana"
print(fruit.find("nana"))
print(fruit[2:])

2
nana

Write a program that takes a sentence ='Give papa a cup of proper coffee in a copper coffee cup' as input and replaces all occurrences of the word "coffee" with "tea". Check if the above sentence starts with "Hello" and ends with "cup". Return the above sentence in title case and capital case. Convert the above sentence into uppercase and count how many times the letter ‘P’ is repeated. Now, convert the whole string into lowercase and find the index of letter ‘c’.

In [24]:
sentence1 ='Give papa a cup of proper coffee in a copper coffee cup'

In [25]:
sentence2= sentence1.replace("coffee", "tea")
print(sentence2)

Give papa a cup of proper tea in a copper tea cup

In [26]:
print(sentence1.startswith("Hello"))
print(sentence1.endswith("cup"))

False
True

In [27]:
print(sentence1.title())

Give Papa A Cup Of Proper Coffee In A Copper Coffee Cup

In [28]:
print(sentence1.capitalize())

Give papa a cup of proper coffee in a copper coffee cup

In [29]:
sentence2=sentence1.upper()

print(sentence2)

print(sentence2.count("P"))

GIVE PAPA A CUP OF PROPER COFFEE IN A COPPER COFFEE CUP
8

In [30]:
sentence3=sentence1.lower()

print(sentence3.index('c'))

12