# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [ ]:
# CODE HERE
person1 = {"Name": "John","Gender": "Male","Occupation": "Data Scientist","Location": "Nizampet, Hyderabad"}

In [ ]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [ ]:
# CODE HERE
print(list(person1.keys()))

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [ ]:
# CODE HERE
del person1["Location"]

print(person1)

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE
person2={'Name':'Raghu Ram','Gender':'Male','Age':25,'Occupation':'Data Scientisst'}

In [ ]:
print(person2)

{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientisst'}

> **`Question:` Print the output as show below**

In [ ]:
# CODE HERE
person1.update({'Location':'Nizampet, Hyderabad'})
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientisst'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [ ]:
# CODE HERE
person3 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
del person3[1]
print(person3)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
person3.pop(2)
print(person3)

{3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
person3.clear()
print(person3)

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
person4 = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
value= sorted(person4.values(), reverse=True)
print(value)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [ ]:
person5= dict1.copy()
person5.update(dict2)
person5.update(dict3)
print(person5)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [1]:
# CODE HERE
person6={'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 6500}}

In [ ]:
person6['emp3']['salary']=8500
print(person6)

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [4]:
# CODE HERE
sampleDict = { "class": { "student": { "name": "Mike", "marks": { "physics": 70, "history": 80 } } } }

In [12]:
sampleDict['class']['student']['marks']['history']

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [19]:
# CODE HERE
person7={'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}

In [21]:
person7 = dict(person7)
person7['Area'] = person7['Location']
del person7['Location']

# Printing the updated dictionary
print(person7)

{'Gender': 'Male', 'Name': 'John', 'Occupation': 'Data Scientist', 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [27]:
data= {
    'john': 'password123',
    'alice': 'password1234',
    'bob': 'password12345'
}

username = input("Enter your username: ").strip()
password = input("Enter your password: ").strip()

if username in data.keys() and data[username] == password:
  print('hello {}'.format(username))
else:
  new_user = input("Username and password do not match. Do you want me to add this into the database? (yes/no): ")
  if new_user.lower() == 'yes':
    data[username] = password
print(data)

Enter your username: san
Enter your password: fsvd
Username and password do not match. Do you want me to add this into the database? (yes/no): yes
{'john': 'password123', 'alice': 'password1234', 'bob': 'password12345', 'san': 'fsvd'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)